.privacy-content {
  h2 {
    margin-top: 24px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
  }

  p, ul {
    margin-bottom: 20px;
    line-height: 1.5;
    color: var(--ion-text-color);
    text-align: center;
  }

   ul {
    padding-left: 1.2rem;
    li {
      margin-bottom: 10px;
    }
    
  }

  a {
    color: var(--ion-color-primary);
    text-decoration: none;
  }

  .last-updated {
    text-align: right;
    margin-top: 32px;
    color: var(--ion-color-medium);
  }
}