<!-- chats.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="filter" placeholder="Buscar..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="filteredChats.length; else empty">
    <ion-item button detail="false"
              *ngFor="let c of filteredChats"
              (click)="openChat(c)">
      <ion-avatar slot="start">
        <img [src]="c.avatarUrl || 'assets/avatar.svg'">
      </ion-avatar>
      <ion-label>
        <h2>{{ c.title }}</h2>
        <p>{{ c.lastMessage || 'Sin mensajes aún' }}</p>
      </ion-label>
      <ion-note slot="end">{{ c.updatedAt | date:'shortTime' }}</ion-note>
    </ion-item>
  </ion-list>

  <ng-template #empty>
    <ion-item lines="none">
      <ion-label>No hay chats todavía</ion-label>
    </ion-item>
  </ng-template>
</ion-content>