:host { display: contents; }

/* Badge pequeño en esquina del botón */
ion-button {
  position: relative;
  .badge {
    position: absolute;
    top: 2px;
    right: 0;
    transform: translate(40%, -40%);
    font-size: 9px;
    height: 16px;
    min-width: 16px;
    padding: 0 4px;
    border-radius: 10px;
  }
}
