<ion-footer class="bottom-nav">
  <ion-toolbar>
    <div class="tabs">
      <button class="tab" [class.active]="isActive('/home')" (click)="go('/home')">
        <ion-icon name="home-outline"></ion-icon>
        <span>Inicio</span>
      </button>

      <button class="tab" [class.active]="isActive('/explorar')" (click)="go('/explorar')">
        <ion-icon name="compass-outline"></ion-icon>
        <span>Explorar</span>
      </button>

      <button class="tab" [class.active]="isActive('/sectores')" (click)="go('/sectores')">
        <ion-icon name="map-outline"></ion-icon>
        <span>Sectores</span>
      </button>

      <button class="tab" [class.active]="isActive('/quedadas')" (click)="go('/quedadas')">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>Quedadas</span>
      </button>

      <button class="tab" [class.active]="isActive('/perfil')" (click)="go('/profile')">
        <ion-icon name="person-outline"></ion-icon>
        <span>Perfil</span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>
