<ion-footer class="bottom-nav" translucent>
  <ion-toolbar>

    <ion-buttons slot="primary">

      <a class="nav-btn" routerLink="/home"     routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <ion-icon name="home-outline"></ion-icon><span>Inicio</span>
      </a>

      <a class="nav-btn" routerLink="/sectores" routerLinkActive="active">
        <ion-icon name="map-outline"></ion-icon><span>Sectores</span>
      </a>

      <a class="nav-btn" routerLink="/quedadas" routerLinkActive="active">
        <ion-icon name="calendar-outline"></ion-icon><span>Quedadas</span>
      </a>

      <a class="nav-btn" routerLink="/chats"    routerLinkActive="active">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon><span>Chats</span>
      </a>

      <a class="nav-btn" routerLink="/profile"  routerLinkActive="active">
        <ion-icon name="person-circle-outline"></ion-icon><span>Perfil</span>
      </a>

    </ion-buttons>

  </ion-toolbar>
</ion-footer>