<ion-footer class="bottom-nav" [translucent]="true" *ngIf="!hidden">
  <ion-toolbar>
    <nav class="tabs">
      <button class="tab" [class.active]="isActive('/home')" (click)="go('/home')">
        <ion-icon name="home-outline"></ion-icon>
        <span>Inicio</span>
      </button>

      <button class="tab" [class.active]="isActive('/explorar')" (click)="go('/explorar')">
        <ion-icon name="compass-outline"></ion-icon>
        <span>Explorar</span>
      </button>

      
      <button class="tab central" (click)="openCreatePost()">
        <ion-icon name="add"></ion-icon>
      </button>

      <button class="tab" [class.active]="isActive('/quedadas')" (click)="go('/quedadas')">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>Quedadas</span>
      </button>

      <button class="tab" [class.active]="isActive('/profile')" (click)="go('/profile')">
        <ion-icon name="person-circle-outline"></ion-icon>
        <span>Perfil</span>
      </button>
    </nav>
  </ion-toolbar>
</ion-footer>
