<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-content class="ion-padding-top">
  <div class="profile-header">
    <ion-avatar>
      <img [src]="usuario.avatarUrl" />
    </ion-avatar>
    <h2>{{ usuario.nombre }}</h2>
    <p>{{ usuario.email }}</p>
    <ion-button fill="outline" (click)="editProfile()">
      <ion-icon slot="start" name="pencil-outline"></ion-icon>
      Editar perfil
    </ion-button>
  </div>


  <ion-list inset>

    <!-- 2. Cuenta -->
    <ion-list-header>
      <ion-label>Cuenta</ion-label>
    </ion-list-header>

    <ion-item button (click)="openAccountSettings()">
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>Ajustes de cuenta</ion-label>
      <ion-icon ></ion-icon>
    </ion-item>

    <!-- 3. Apariencia y notificaciones -->
    <ion-list-header>
      <ion-label>Preferencias</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="moon-outline"></ion-icon>
      <ion-label>Tema oscuro</ion-label>
      <ion-toggle slot="end"
        [checked]="isDarkMode"
        (ionChange)="toggleTheme($event.detail.checked)">
      </ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="notifications-outline"></ion-icon>
      <ion-label>Notificaciones</ion-label>
      <ion-toggle slot="end"
        [checked]="notificationsEnabled"
        (ionChange)="toggleNotifications($event.detail.checked)">
      </ion-toggle>
    </ion-item>

    <!-- 4. Idioma -->
    <ion-item button (click)="openLanguageSelector()">
      <ion-icon slot="start" name="language-outline"></ion-icon>
      <ion-label>Idioma</ion-label>
      <ion-note slot="end">{{ currentLanguage }}</ion-note>
      <ion-icon></ion-icon>
    </ion-item>

    <!-- 5. Privacidad y ayuda -->
    <ion-list-header>
      <ion-label>Información</ion-label>
    </ion-list-header>

    <ion-item button (click)="openPrivacyPolicy()">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Política de privacidad</ion-label>
      <ion-icon></ion-icon>
    </ion-item>

    <ion-item button (click)="openTerms()">
      <ion-icon slot="start" name="hammer-outline"></ion-icon>
      <ion-label>Términos y condiciones</ion-label>
      <ion-icon></ion-icon>
    </ion-item>

    <ion-item button (click)="openHelp()">
      <ion-icon slot="start" name="help-circle-outline"></ion-icon>
      <ion-label>Ayuda / FAQs</ion-label>
      <ion-icon></ion-icon>
    </ion-item>

    <ion-item button (click)="openAbout()">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>Acerca de</ion-label>
      <ion-note slot="end">v{{ appVersion }}</ion-note>
    </ion-item>

  </ion-list>

  <!-- 6. Cerrar sesión -->
  <div class="logout-wrapper">
    <ion-button expand="block" color="danger" (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
