<!-- quedadas-create.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Nueva Quedada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Sector</ion-label>
      <ion-select formControlName="sectorId">
        <ion-select-option *ngFor="let s of sectores" [value]="s.id">
          {{ s.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input formControlName="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-datetime formControlName="fecha" displayFormat="DD MMM YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Hora</ion-label>
      <ion-datetime formControlName="hora" displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Notas</ion-label>
      <ion-textarea formControlName="notas"></ion-textarea>
    </ion-item>

    <ion-button type="submit" [disabled]="fg.invalid">Crear</ion-button>
  </form>
</ion-content>